<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }

    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

  </style>


<body>
  <h1>Inventories for {{restaurant}}</h1>

    <table style="width:100%">
      <tr>
        <th>Time</th>
        <th>Table Size</th>
        <th>Book</th>
      </tr>
      {% for inventory in inventories %}
        <tr>
          <th>{{inventory[1]}}</th>
          <th>{{inventory[2]}}</th> 
          <th><a href="{{ url_for('confirm', inventory_id=inventory[0])}}"> <button type="button" style="margin-top:2%">Book!</button> </a></th>
        </tr>
      </tr>
      {% endfor %}
    </table>

</body>


</html>