<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Thank you for your reservation!</h1>
  
  <a href="{{ url_for('customer')}}"> <button type="button" style="margin-top:2%">Back to Menu</button> </a>
<!-- <form method="POST" action="/add">
<p>Name of new user: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>
 -->
</body>


</html>
