<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }

    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

  </style>


<body>
  <h1>Reservation System</h1>
  <h1><img src="/static/reservation.png"></h1>

  <h1>Search Restaurants</h1>
  <form method="POST" action="/search">
  name: <input type="text" name="name"><br>

  <!--

  category: <select name="category">
  <option value="American">American</option>       
  <option value="Mexican">Mexican</option>
  <option value="Italian">Italian</option>
  <option value="French">French</option>
  <option value="Chinese">Chinese</option>
  <option value="Japanese">Japanese</option>
  <option value="Korean">Korean</option>
  <option value="Thai">Thai</option>
  <option value="Delis">Delis</option>
  <option value="Bagels">Bagels</option>
  <option value="Burgers">Burgers</option>
  <option value="Seafood">Seafood</option>
  <option value="etc">etc</option>
  </select><br>
  average rating >= <select name="rating">
  <option value="5.0">5.0</option>       
  <option value="4.5">4.5</option>
  <option value="4.0">4.0</option>
  <option value="3.5">3.5</option>
  <option value="3.0">3.0</option>
  <option value="2.5">2.5</option>
  <option value="2.0">2.0</option>
  <option value="1.5">1.5</option>
  <option value="1.0">1.0</option>
  <option value="0.5">0.5</option>
  <option value="0.0">0.0</option>
  </select><br>

  -->

  <input type="submit" value="Search">
  </form>

  {% if no_result %}
    <h5 style="color:red"> No such a restaurant </h5>
  {% endif %}

  <h3>Reservations</h3>
    <table style="width:80%">
      <tr>
        <th>Restaurant</th>
        <th>Time</th> 
        <th>Table Size</th>
      </tr>
      {% for reservation in reservations %}
        <tr>
          <th>{{reservation[0]}}</th>
          <th>{{reservation[1]}}</th> 
          <th>{{reservation[2]}}</th>
        </tr>
      </tr>
      {% endfor %}
    </table>




  <!--
  
  <h1>Book Restaurants</h1>
  <form method="POST" action="/book">
  name: <input type="text" name="name"><br>
  datetime: <input type="text" name="datetime"><br>
  num_table: <input type="text" name="num_table"><br>
  <input type="submit" value="Book">
  </form>
  
  -->

</body>


</html>
