<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Restaurant Reservation System</h1>
  <h1><img src="/static/logo.png"></h1>

  <h2>User Login</h2>
  <form method="POST" action="/login">
  email: <input type="text" name="email"><br>
  password: <input type="text" name="password"><br>
  <input type="submit" value="Login">
  </form>

  {% if failed %}
    <h5 style="color:red"> Login Failed </h5>
  {% endif %}

  <!-- <div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div> -->

<p>New User? <a href="/register">Register</a></p>

</body>


</html>
