<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }

    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }

  </style>


<body>
  <h1>Search Results</h1>

    <table style="width:100%">
      <tr>
        <th>Time</th>
        <th>Category</th> 
        <th>Address</th>
        <th>URL</th>
        <th>TEL</th>
      </tr>
      <tr>
        <td>{{restaurant[1]}}</td>
        <td>{{restaurant[2]}}</td> 
        <td>{{restaurant[3]}}</td>
        <td>{{restaurant[4]}}</td>
        <td>{{restaurant[5]}}</td>
      </tr>
    </table>

    <a href="{{ url_for('book')}}"> <button type="button" style="margin-top:2%">Check the Inventory!</button> </a>

    <h3>Reviews</h3>
      <h5> Average Rating = {{avg_rating}} </h5>
      <table style="width:80%">
        <tr>
          <th>Time</th>
          <th>Rating</th> 
          <th>Comment</th>
        </tr>
        {% for review in reviews %}
          <tr>
            <th>{{review[0]}}</th>
            <th>{{review[1]}}</th> 
            <th>{{review[2]}}</th>
          </tr>
        </tr>
        {% endfor %}
      </table>

</body>


</html>
